
<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#profile" role="tab" data-toggle="tab">Businesses <span class="badge text-info"><%=@businesses.count %></span></a></li>
  <li><a href="#taxpayers" role="tab" data-toggle="tab">Taxpayers <span class="badge"><%=@taxpayers.count%></span></a></li>

</ul>

<!-- Tab panes -->
<div class="tab-content">
  <%=render 'businesses/index' %>

  <div class="tab-pane" id="taxpayers">
 <%=render 'taxpayers/index' %>

  </div>

</div>



