<div class="container">
  <div class="col-md-12">
    <div class="jumbotron well">
      <h1>Businesses Tracker<small> - dasdad</small></h1>
      <p class="help-block">Make it easy for businesses to register in your locality. </p>
      <p><%=link_to 'Create Account ', new_account_path, class: "btn btn-primary btn-lg" %></p>
    </div>
  </div>
</div>