
# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp
*.log
tmp/**/*
doc/api
*.swp
*~
.DS_Store
/config/database.yml
.DS_Store

# Ignore application configuration
/config/application.yml
