<p>Mayors Permit Fee for : <%=@mayors_permit_fee.business.business_name%></p>
<p>Industry Type:<%=@mayors_permit_fee.business.industry_type%></p>
<p>Enterprise Scale: <%=@mayors_permit_fee.business.enterprise_scale %></p>
<p>Amount: <%=@mayors_permit_fee.amount%></p>
