<div class="container">
<div class="row col-md-8">
  <h2>List of Documents</h2>

  <div class="panel panel-default">
    <div class="panel-body">
    <h3>
           <% @documents.each do |document| %>
           <%=document.description %>
           <small><%=document.office %></small>
           <div class="pull-right">
               <%= link_to edit_document_path(document),  class: 'icon-link' do  %>
               <small><i class="glyphicon glyphicon-cog"></i></small>
               <% end %>

          <% end %>

          </h3>
          </div>
</div>

  <div clas="row">
  <%=link_to 'New Document', new_document_path %>

  </div>
</div>
