.label-info-tax {
  font-size: 18px;
  text-align: center;
}
.line-of-business {
  text-decoration: none;
  list-style: none;
  font-size: 18px;
  color: #656565;
}
.tax-description {
  list-style: none;
  text-align: left;
}
hr {
  color: #fff;
}
