<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">Expired Permits By Barangay</div>
      <div class="panel-body">
        <%=link_to 'Poblacion', businesses_path(format: :pdf) %>
      </div>
    </div>
  </div>
  <%=link_to 'DOLE Report', businesses_path(format: :pdf) %>
</div>
