 <footer class="main-footer">
        <div class="pull-right hidden-xs">
          <b>Business Tracker</b>
        </div>
        <strong>Copyright &copy; <%=Time.zone.now.year%> <a href="http://facebook.com/itworx">ITWORX Technology Services</a>.</strong> vc.halip@gmail.com | 0927-4173-271
      </footer>
